{% load static %}
{% if user.cpus.count > 0 %}
  <div class="card mb-3 product-card" style="max-width: 540px;">
    <div class="row g-0">
      <div class="product-thumb card col-sm-4">
        <img src="{% static 'img/nouser.jpg' %}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-sm-8">
        <div class="card-body">
          <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
          <p class="card-text"><a href="{% url 'cpus:user_cpus' user.id %}"><span class="badge rounded-pill bg-primary text-bg-primary">@{{ user.username }}</span></a></p>
          <p class="card-text">
            <small class="text-body-secondary">Всего процессоров: <a href="{% url 'cpus:user_cpus' user.id %}">{{ user.cpus.count }}</a></small><br>
            <small class="text-body-secondary">
              Последнее добавление в коллекцию: {{ user.cpus.last.created_at|date:"SHORT_DATE_FORMAT" }}
            </small>
          </p>
          <a href="{% url 'cpus:user_cpus' user.id %}"><button type="button" class="btn btn-primary">Посмотреть коллекцию</button></a>
        </div>
      </div>
    </div>
  </div>
{% endif %}