<!-- about.html --> 
{% extends "base.html" %}
{% block title %}Коллекция 486. О проекте.{% endblock %}
{% block content %}
<section class="main-content">
  <div class="container">
    <h1>О проекте</h1>
    <p class="about-text">
      Проект создан коллекционером 486 процессоров и, по совместительству, разработчиком на языке Python / фреймворк Django.
    <br>
      По сути, сайт является отправной точкой для дальнейшего создания полномасштабного проекта для коллекционеров различного компьютерного железа. Объять все и сразу в одиночку довольно сложно, поэтому я начал с малого — закрыл потребность в каталогизации экземпляров собственной коллекции.
    </p>
    <p class="about-text">Замечания и предложения направляйте в телеграм @renzhin</p>
  </div>
</section>
{% endblock %}