<!-- cpu_detail.html --> 
{% extends "base.html" %}
{% block title %}
  Процессор {{ cpu.part_number }}
  в коллекции {{ cpu.user.username }}
{% endblock %}
{% block content %}
  <!-- Страница процессора -->
  <section class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-md-7">

          <h2>{{ cpu.part_number }}</h2>
            <div class="cpu_badges">
              <span class="badge rounded-pill bg-danger text-bg-primary">
                {{ cpu.rarity }}
              </span>
              <span class="badge rounded-pill bg-success text-bg-primary">
                {{ cpu.work_status }}
              </span>
            </div>
          <table class="table table-sm">
            <tbody class="table-group-divider">
              <tr>
                <th scope="row">Производитель</th>
                <td>{{ cpu.manufacturer }}</td>
              </tr>
              <tr>
                <th scope="row">Семейство</th>
                <td>{{ cpu.family }}</td>
              </tr>
              <tr>
                <th scope="row">Частота</th>
                <td>{{ cpu.frequency }} Мгц</td>
              </tr>
              <tr>
                <th scope="row">Частота шины</th>
                <td>{{ cpu.fsb }} Мгц</td>
              </tr>
              <tr>
                <th scope="row">Множитель</th>
                <td>{{ cpu.multiplier }}</td>
              </tr>
              <tr>
                <th scope="row">Сопроцессор</th>
                <td>{{ cpu.fpu }}</td>
              </tr>
              <tr>
                <th scope="row">Кэш L1</th>
                <td>{{ cpu.l1_cache_size }} Кб</td>
              </tr>
              <tr>
                <th scope="row">Напряжение ядра</th>
                <td>{{ cpu.vcore }} В</td>
              </tr>
            </tbody>
          </table>
          <br>
          <h6 class="cpu_font_user"><span class="badge bg-secondary text-bg-secondary">New</span> В коллекции {{ cpu.user.first_name }} {{ cpu.user.last_name }} </strong> <a href="{% url 'cpus:user_cpus' user.id %}"><span class="badge rounded-pill bg-primary text-bg-primary">@{{ cpu.user.username }}</span></a></h6>
          <ul class="list-group">
            <li class="list-group-item">Приобретен {{ cpu.purchase_date }} за {{ cpu.purchase_price }} руб.</li>
            <li class="list-group-item">Продан {{ cpu.purchase_date }} за {{ cpu.purchase_price }} руб.</li>
          </ul>

          <br>

          <table class="table table-sm">
            <tbody class="table-group-divider">
              <tr>
                <th scope="row">Частота в разгоне</th>
                <td>{{ cpu.overclk_frequency }} Мгц</td>
              </tr>
              <tr>
                <th scope="row">Частота шины в разгоне</th>
                <td>{{ cpu.overclk_fsb }} Мгц</td>
              </tr>
              <tr>
                <th scope="row">Множитель в разгоне</th>
                <td>{{ cpu.overclk_multiplier }}</td>
              </tr>
            </tbody>
          </table>

          <br>
          <p>
            {{ cpu.description }}
          </p>
          <p>
            {{ cpu_images }}
          </p>
        </div>
        <div class="col-xl-6 col-md-5">
          {% for countimage in cpu_images %}
            {% if forloop.first %}
              <a href="{{ countimage.image.url }}" target="_blank">
                <img src="{{ countimage.image.url }}">
              </a>
            {% else %}
              <a href="{{ countimage.image.url }}" target="_blank">
                <img src="{{ countimage.image.url }}" class="mt-2 me-1 image-detail-gal" alt="">
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}