<!-- cpus_list.html --> 
{% extends "base.html" %}
{% block title %}Коллекция 486. Каталог.{% endblock %}
{% block content %}
  <!-- Страница каталога -->
  <section class="main-content">
    <div class="container">
      <h1>Каталог процессоров</h1>
      <div class="row">
        {% for cpu in page_obj %}
          <!-- Карточка -->
          {% include "includes/cpu_card.html" %} 
        {% endfor %}
      </div>
      <!-- Подключаем пагинатор -->
      {% include "includes/paginator.html" %}
    </div>
  </section>
{% endblock %}