<!-- index.html --> 
{% extends "base.html" %}
{% block title %}Коллекция 486. Главная страница.{% endblock %}
{% block content %}
  <!-- Страница Главная-->
  <section class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-md-7">
          <h3>Топ-3 коллекционеров</h3>
          {% for user in users_list %}
            {% include "includes/user_card.html" %}
          {% endfor %}
        </div>
        <div class="col-xl-6 col-md-5">

          <h4>Всего на проекте</h4>
          <ul class="list-unstyled">
            <li>{{ users_list.count }} коллекционер{{ user_count_suff }}</li>
            <li><a href="{% url 'cpus:cpus_list' %}">{{ all_cpus.count }} процессор{{ cpu_count_suff }}</a></li>
          </ul>

          <h4>Добавлено CPU за последние 30 дней</h4>
          <ul class="list-unstyled">
            {% for cpu in month_cpus %}
              <!-- Карточка -->
              {% include "includes/mini_cpu.html" %}  
            {% endfor %}
          </ul>

          <h4>Интересные экземпляры</h4>
          <ul class="list-unstyled">
            {% for cpu in interest_cpus %}
              <!-- Карточка -->
              {% include "includes/mini_cpu.html" %}  
            {% endfor %}
          </ul>

        </div> 
      </div>
    </div>
  </section>
{% endblock %}