<!-- user_cpus.html --> 
{% extends "base.html" %}
{% block title %}Коллекция процессоров. {{ user.first_name }} {{ user.last_name }}.{% endblock %}
{% block content %}
  <!-- Страница каталога -->
  <section class="main-content">
    <div class="container">
      <h1>Коллекция процессоров. {{ user.first_name }} {{ user.last_name }}.</h1>
      <div class="row">
        {% for cpu in cpus_list %}
          <!-- Карточка -->
          {% include "includes/cpu_card.html" %} 
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}