{% extends "base.html" %}
{% block content %}
<section class="main-content">
    <div class="container">
        <div class="card col-4 m-3">
            <div class="card-header">
            Восстановить пароль
            </div>
            <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Отправить">
            </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
