{% extends "base.html" %}

{% block content %}
<section class="main-content">
    <div class="container">
        <div class="card col-4 m-3">
            <div class="card-header">
            Регистрация пользователя
            </div>
            <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_table }}
                <input type="submit" value="Зарегистрироваться">
            </form>
            </div>
        </div>
    </div>
</section>
{% endblock %} 